In [34]:
import streamlit as st
import numpy as np
import pandas as pd
import re


df = pd.read_csv(r"C:\Users\rupay\Downloads\Telegram Desktop\Chocolate Sales (2).csv")
df["Amount"]=df["Amount"].astype(str)
df.dtypes
# Pandas handles the looping for you
df["Amount"] = df["Amount"].astype(str).str.replace(r'[^\d.-]', '', regex=True)


#df.columns
df["Amount"]=pd.to_numeric(df["Amount"])
#df.mean(numeric_only=True)

In [35]:
df.mean(numeric_only=True)
df.head()

,Sales Person,Country,Product,Date,Amount,Boxes Shipped
0,Jehu Rudeforth,UK,Mint Chip Choco,04-01-2022,5320.0,180.0
1,Van Tuxwell,India,85% Dark Bars,01-08-2022,7896.0,NaN
2,Gigi Bohling,India,Peanut Butter Cubes,07-07-2022,4501.0,91.0
3,Jan Morforth,Australia,Peanut Butter Cubes,27-04-2022,12726.0,342.0
4,Jehu Rudeforth,UK,Peanut Butter Cubes,24-02-2022,13685.0,184.0

In [36]:
df = df.fillna(df.mean(numeric_only=True))
df

,Sales Person,Country,Product,Date,Amount,Boxes Shipped
0,Jehu Rudeforth,UK,Mint Chip Choco,04-01-2022,5320.00,180.00000
1,Van Tuxwell,India,85% Dark Bars,01-08-2022,7896.00,164.68851
2,Gigi Bohling,India,Peanut Butter Cubes,07-07-2022,4501.00,91.00000
3,Jan Morforth,Australia,Peanut Butter Cubes,27-04-2022,12726.00,342.00000
4,Jehu Rudeforth,UK,Peanut Butter Cubes,24-02-2022,13685.00,184.00000
...,...,...,...,...,...,...
3277,Karlen McCaffrey,Australia,Spicy Special Slims,17-05-2024,5303.58,354.00000
3278,Jehu Rudeforth,USA,White Choc,07-06-2024,7339.32,121.00000
3279,Ches Bonnell,Canada,Organic Choco Syrup,26-07-2024,616.09,238.00000
3280,Dotty Strutley,India,Eclairs,28-07-2024,2504.62,397.00000
3281,Karlen McCaffrey,India,70% Dark Bites,23-05-2024,5915.87,355.00000

In [37]:
def stat_func(column_filter,select_tool):
    if df[column_filter].dtypes=="float64" or "int64":
        if select_tool=="mean":
            return df[column_filter].mean()
        elif select_tool=="median":
            return df[column_filter].median()
        elif select_tool=="mode":
            return df[column_filter].mode()
        else:
            print("select another dropdown")
    else:
        print("select another dropdown")

features=st.selectbox("Let's do something",["Handeling missing Data","Groupwise Filter","Statistical Summary","Rename Group"])

2026-02-08 19:03:40.625 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2026-02-08 19:03:40.629 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2026-02-08 19:03:40.630 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2026-02-08 19:03:40.631 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2026-02-08 19:03:40.632 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2026-02-08 19:03:40.632 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2026-02-08 19:03:40.632 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.

In [ ]:
def all_features(feature):
    if feature=="Handeling missing Data":
        missing_data_handel = st.selectbox("How do you want to handel?",
                                    ["Drop that Row","With Mean","With Median","With Standard Deviation","With Mode",
                                        "Data From Previous Row","Data From Next Row"])
        if missing_data_handel=="Drop that Row":
            df.dropna(inplace=True)


        elif missing_data_handel=="With Mean":
            df.fillna(df.mean(numeric_only=True), inplace=True)
                
        elif missing_data_handel=="With Median":
            df.fillna(df.median(numeric_only=True), inplace=True)
            


        elif missing_data_handel=="With Standard Deviation":
            df.fillna(df.std(numeric_only=True), inplace=True)


        elif missing_data_handel=="With Mode":
            df.fillna(df.mode(numeric_only=True), inplace=True)


        elif missing_data_handel=="Data From Previous Row":
            df.ffill(inplace=True)

        
        elif missing_data_handel=="Data From Next Row":
            df.bfill(inplace=True)


        else:
            pass


    elif feature=="Groupwise Filter":
        group_filter= st.selectbox("Select a Column", u =df.columns)
        group=df.groupby("u")
    elif feature=="Statistical Summary":
        pass
    elif feature=="Rename Group":
        pass

In [ ]:
df = pd.read_csv(r"C:\Users\rupay\Downloads\Telegram Desktop\Chocolate Sales (2).csv")

group = df.groupby("Country")
group.get_group("India")

,Sales Person,Country,Product,Date,Amount,Boxes Shipped
1,Van Tuxwell,India,85% Dark Bars,01-08-2022,"$7,896.00",NaN
2,Gigi Bohling,India,Peanut Butter Cubes,07-07-2022,"$4,501.00",91.0
5,Van Tuxwell,India,Smooth Sliky Salty,06-06-2022,"$5,376.00",38.0
25,Karlen McCaffrey,India,Fruit & Nut Bars,26-01-2022,$168.00,321.0
39,Karlen McCaffrey,India,Manuka Honey Choco,04-07-2022,"$2,443.00",581.0
...,...,...,...,...,...,...
3263,Roddy Speechley,India,Spicy Special Slims,22-03-2024,"$12,049.05",180.0
3272,Roddy Speechley,India,50% Dark Bites,14-03-2024,"$9,976.22",12.0
3275,Beverie Moffet,India,Almond Choco,24-05-2024,"$3,634.26",100.0
3280,Dotty Strutley,India,Eclairs,28-07-2024,"$2,504.62",397.0
3281,Karlen McCaffrey,India,70% Dark Bites,23-05-2024,"$5,915.87",355.0

In [ ]:
#side bar ccode
file= st.file_uploader("Upload a csv or excel file", type=["csv", 'xlsx'])
if file:
    df = pd.read_csv(file)
else:
    st.write("Your file is not uploaded")
    st.stop()